<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/assets/css/mdl.css">
    <script src="/assets/js/jQuery.js"></script>
    <script src="/assets/js/mdl.js"></script>
    <script src="/assets/js/js.cookie.js"></script>
    <script src="/assets/js/Vue.js"></script>
    <script src="/assets/js/config.js"></script>
    <title>Shiny接收端设置页</title>
</head>

<body>
    <div id="app">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
                <template v-if="!isLogin">
                    <form action="#" v-on:submit.prevent="login">
                        <p class="mdl-color-text--grey-600" id="tip">登录不?</p>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="email" id="email" v-model="email">
                            <label class="mdl-textfield__label" for="email">Email</label>
                        </div>
                        <br>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="password" v-model="password">
                            <label class="mdl-textfield__label" for="password">Password</label>
                        </div>
                        <br>
                        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="login" type="submit">Log in</button>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="register" href="https://shiny.kotori.moe/register" target="_blank">Register</a>
                    </form>
                </template>
                <template v-else>
                    <a v-on:click="renew" href="#">刷新订阅</a>
                    <a v-on:click="logout" href="#">登出</a>
                </template>
                <h3>设置</h3>
                <div>
                    <form>
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                            <input type="checkbox" id="switch-1" class="mdl-switch__input" v-model="isMute" @change="toggleMute">
                            <span class="mdl-switch__label">免打扰模式</span>
                            <span class="mdl-switch__label mdl-color-text--grey-600">免打扰模式 开启免打扰模式后将不会弹出任何通知。</span>
                        </label>
                        <div :style="{ opacity: isMute ? 1 : 0}">
                            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                                <input type="checkbox" id="switch-2" class="mdl-switch__input" v-model="exceptFavorite" @change="toggleExceptFavorite">
                                <span class="mdl-switch__label">但特别关注除外</span>
                                <span class="mdl-switch__label mdl-color-text--grey-600">即使在免打扰模式下也会弹出特别关注来源的通知。</span>
                            </label>
                        </div>
                    </form>
                </div>
                <br>
                <h3>黑名单管理</h3>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Spider</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody v-for="spider in block">
                    <tr>
                        <td>{{spider.name}}</td>
                        <td>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" v-on:click="removeSpiderFromBlockList($index)">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h3>关注名单管理</h3>
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Spider</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody v-for="spider in star">
                    <tr>
                        <td>{{spider.name}}</td>
                        <td>
                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" v-on:click="removeSpiderFromStarList($index)">
                                <i class="material-icons">close</i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
    </div>
</body>